polkit.addRule(function(action, subject) {
  if (subject.user == "barksignal") {
    var allowed = [
      "org.freedesktop.NetworkManager.settings.modify.system",
      "org.freedesktop.NetworkManager.network-control",
      "org.freedesktop.NetworkManager.wifi.share",
      "org.freedesktop.NetworkManager.wifi.scan",
      "org.freedesktop.login1.reboot",
      "org.freedesktop.login1.reboot-multiple-sessions"
    ];
    if (allowed.indexOf(action.id) >= 0) {
      return polkit.Result.YES;
    }
  }
});
